.formaDado {
    width: 5rem;
    height: 5rem;
    font-size: 3rem;
    background-color: rgb(130, 6, 155);
    color: azure;
    border-radius: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
